/inputDemo/nbproject/private/
/inputDemo/build/
/ifDemo/nbproject/private/
/ifDemo/build/
/switchDemo/nbproject/private/
/switchDemo/build/
/errorDemo/nbproject/private/
/errorDemo/build/
/errorDemo2/nbproject/private/
/errorDemo2/build/